@charset "UTF-8";
/*0.4*/
/*0.161  -> 0.4*/
@keyframes vibe {
  0%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
  }
  75% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
@keyframes shape {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 100%;
  }
}
.fixall {
  margin: 0;
  outline: none;
  box-shadow: none;
  padding: 0;
  text-decoration: none;
  border: none;
}
.fixall:hover {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}
.fixall:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

body {
  position: relative;
  font-family: tajwal;
  overflow: hidden;
}
body::-webkit-scrollbar {
  background-color: rgba(241, 245, 244, 0.5);
  width: 7px;
  height: 0px;
}
body::-webkit-scrollbar-thumb {
  background-color: #5ABA47;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #5ABA47 rgba(241, 245, 244, 0.5);
}

.overflow {
  overflow: hidden !important;
}

@media (min-width: 1700px) {
  .container {
    width: 1640px;
  }
}

.a {
  opacity: 1 !important;
}

@font-face {
  font-family: "tajwal";
  src: url("../fonts/TAJAWAL/TAJAWAL-REGULAR.TTF");
}
@font-face {
  font-family: "xlight";
  src: url("../fonts/TAJAWAL/TAJAWAL-EXTRALIGHT.TTF");
}
@font-face {
  font-family: "light";
  src: url("../fonts/TAJAWAL/TAJAWAL-LIGHT.TTF");
}
@font-face {
  font-family: "med";
  src: url("../fonts/TAJAWAL/TAJAWAL-MEDIUM.TTF");
}
@font-face {
  font-family: "bold";
  src: url("../fonts/TAJAWAL/TAJAWAL-BOLD.TTF");
}
@font-face {
  font-family: "xbold";
  src: url("../fonts/TAJAWAL/TAJAWAL-EXTRABOLD.TTF");
}
@font-face {
  font-family: "black";
  src: url("../fonts/TAJAWAL/TAJAWAL-BLACK.TTF");
}
.search-fixed {
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  position: fixed;
  display: none;
}
.search-fixed .search-cont {
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .search-fixed .search-cont {
    width: 95%;
  }
}
.search-fixed .search-sign {
  margin-bottom: 35px;
  width: 60px;
  height: 60px;
}
.search-fixed .search-sign .a {
  fill: #4A4A4A;
  stroke: #4A4A4A;
}
@media (max-width: 767px) {
  .search-fixed .search-sign {
    width: 45px;
    height: 45px;
  }
}
.search-fixed .search-head {
  font-size: 28px;
  font-family: bold;
  color: #4A4A4A;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .search-fixed .search-head {
    font-size: 25px;
  }
}
.search-fixed .search-desc {
  font-size: 18px;
  font-family: bold;
  color: #4A4A4A;
}
@media (max-width: 767px) {
  .search-fixed .search-desc {
    font-size: 18px;
  }
}
.search-fixed .search {
  position: relative;
  width: 100%;
  height: 54px;
  margin-top: 30px;
}
.search-fixed .search-input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: right;
  padding: 0 25px;
  background-color: #F1F5F4;
  border-radius: 27px;
  border: 2px solid transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #4A4A4A;
  font-size: 16px;
}
.search-fixed .search-input::placeholder {
  color: #414141;
  font-size: 15px;
  opacity: 0.5;
}
.search-fixed .search-input:focus {
  border-color: #5ABA47;
}
.search-fixed .search-button {
  padding: 0 30px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #5ABA47;
  border: 2px solid #5ABA47;
  font-size: 16px;
  color: #fff;
  font-family: bold;
  border-radius: 27px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-fixed .search-button:hover {
  color: #5ABA47;
  background-color: transparent;
}

.newsletter-cont {
  position: relative;
  width: 100%;
  height: 54px;
  margin-top: 20px;
}
.newsletter-cont .newsletter-input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: right;
  padding: 0 25px;
  background-color: #F1F5F4;
  border-radius: 27px;
  border: 2px solid transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #4A4A4A;
  font-size: 16px;
}
.newsletter-cont .newsletter-input::placeholder {
  color: #414141;
  font-size: 15px;
  opacity: 0.5;
}
.newsletter-cont .newsletter-input:focus {
  border-color: #5ABA47;
}
.newsletter-cont .newsletter-button {
  padding: 0 20px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #5ABA47;
  border: 2px solid #5ABA47;
  font-size: 16px;
  color: #fff;
  font-family: bold;
  border-radius: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.newsletter-cont .newsletter-button:hover {
  color: #5ABA47;
  background-color: transparent;
}

.mo-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.nav-li {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-anchor {
  font-family: bold;
  font-size: 17px;
  color: #4A4A4A;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.nav-anchor:hover, .nav-anchor:focus {
  background-color: #fff;
  color: #5ABA47;
}

.mo-dropdown {
  position: relative;
  z-index: 9;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-dropdown .mo-dropmenu {
  padding: 19px 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 9;
  min-width: 471px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-dropdown .mo-dropmenu .nav-li {
  width: 33.333%;
  padding: 0;
  justify-content: center;
  position: relative;
  margin: 5px 0;
}
.mo-dropdown .mo-dropmenu .nav-li:after {
  background-color: #F1F5F4;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.mo-dropdown .mo-dropmenu .nav-li:nth-of-type(3n)::after {
  display: none;
}
.mo-dropdown .mo-dropmenu .nav-anchor {
  color: #414141;
  opacity: 0.5;
}
.mo-dropdown .mo-dropmenu .nav-anchor:hover {
  color: #4A4A4A;
  opacity: 1;
}
.mo-dropdown:hover {
  background-color: #fff;
}
.mo-dropdown:hover > .nav-anchor {
  color: #5ABA47;
}
.mo-dropdown:hover .mo-dropmenu {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 767px) {
  .navbar-cont {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(74, 74, 74, 0.5);
    z-index: 999;
    display: none;
  }
  .navbar-cont .mo-navbar {
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    padding-top: 70px;
    width: 280px;
    transform-origin: right;
    transform: scaleX(0);
    background-color: #fff;
    position: relative;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .navbar-cont .mo-navbar.mo-nav-open {
    transform: scaleX(1);
  }
  .navbar-cont .nav-li {
    padding: 0 25px;
    height: auto;
    display: flex;
    align-items: center;
    margin: 7.5px 0;
    width: 280px;
  }
  .navbar-cont .nav-anchor {
    height: auto;
    padding: 0;
  }
  .navbar-cont .mo-dropdown {
    position: relative;
    z-index: 9;
    display: block;
  }
  .navbar-cont .mo-dropdown > .nav-anchor {
    width: 100%;
    justify-content: space-between;
    color: #4A4A4A;
  }
  .navbar-cont .mo-dropdown > .nav-anchor:after {
    content: "";
    font-family: "Linearicons-Free";
    font-size: 15px;
    color: #4A4A4A;
    font-weight: 900;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .navbar-cont .mo-dropdown > .nav-anchor.nav-expanded {
    color: #5ABA47;
  }
  .navbar-cont .mo-dropdown > .nav-anchor.nav-expanded:after {
    color: #5ABA47;
    transform: rotate(90deg);
  }
  .navbar-cont .mo-dropdown .drop-mob {
    display: none;
  }
  .navbar-cont .mo-dropdown .mo-dropmenu {
    padding: 10px 20px 5px;
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    max-width: none;
    min-width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    visibility: visible;
    opacity: 1;
  }
  .navbar-cont .mo-dropdown .mo-dropmenu .nav-li {
    width: 100%;
    justify-content: flex-start;
    margin: 4px 0;
  }
  .navbar-cont .mo-dropdown .mo-dropmenu .nav-li:after {
    display: none;
  }
  .navbar-cont .close-menu {
    position: absolute;
    top: 15px;
    left: 25px;
  }
  .navbar-cont .close-menu:after {
    content: "";
    font-family: "Linearicons-Free";
    font-size: 20px;
    color: #7a7a7a;
    font-weight: 900;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.main-slider {
  position: relative;
}
.main-slider .slide {
  position: relative;
}
.main-slider .main-slide {
  position: relative;
  display: flex;
  align-items: center;
  color: #5eae32;
}
.main-slider .slide-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.main-slider .slide-info .slide-header {
  font-size: 118px;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .main-slider .slide-info .slide-header {
    font-size: 40px;
  }
}
.main-slider .slide-info .shop-now-btn {
  padding: 0 30px;
  max-width: 175px;
  height: 56px;
  border-radius: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid #5ABA47;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #5ABA47;
  font-size: 17px;
  font-family: bold;
}
@media (max-width: 767px) {
  .main-slider .slide-info .shop-now-btn {
    font-size: 15px;
    padding: 0 20px;
    height: 30px;
  }
}
.main-slider .slide-info .shop-now-btn:hover, .main-slider .slide-info .shop-now-btn:focus {
  color: #fff;
  background-color: #5ABA47;
  box-shadow: 0px 3px 20px #5ABA4740;
}
.main-slider .slide-info .sale {
  direction: ltr;
  font-size: 65px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 767px) {
  .main-slider .slide-info .sale {
    font-size: 20px;
  }
}
.main-slider .slide-info .sale > span {
  color: #5ABA47;
}
.main-slider .slide-info .sale .name {
  color: #fff;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
@media (max-width: 767px) {
  .main-slider .slide-info .sale .name {
    font-size: 15px;
  }
}
.main-slider div[class^=swiper-button-] {
  top: 50%;
  background-image: none;
  transform: translateY(-50%);
}
.main-slider div[class^=swiper-button-].swiper-button-prev {
  left: 50px;
}
@media (max-width: 767px) {
  .main-slider div[class^=swiper-button-].swiper-button-prev {
    left: 15px;
  }
}
.main-slider div[class^=swiper-button-].swiper-button-next {
  right: 40px;
}
@media (max-width: 767px) {
  .main-slider div[class^=swiper-button-].swiper-button-next {
    right: 5px;
  }
}
.main-slider div[class^=swiper-button-] path {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-slider div[class^=swiper-button-]:hover path {
  fill: #5ABA47;
}

.products {
  position: relative;
}
.products#brands .swiper-pagination {
  top: 170px;
}
@media (max-width: 1199px) {
  .products#brands .swiper-pagination {
    top: unset;
  }
}
.products .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 230px;
  left: -60px;
}
.products .swiper-pagination .swiper-pagination-bullet {
  margin: 2.5px 0;
  opacity: 1;
  width: 13px;
  height: 13px;
  border: 1px solid #5ABA47;
  background-color: transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
}
.products .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: #5ABA47;
}
.products .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #5ABA47;
}
@media (max-width: 1199px) {
  .products .swiper-pagination {
    top: unset;
    left: unset;
    position: relative;
    flex-direction: row;
    margin-top: 25px;
  }
  .products .swiper-pagination .swiper-pagination-bullet {
    margin: 0 2.5px;
  }
}
.products div[class^=swiper-button-] {
  background-image: none;
}
@media (max-width: 1199px) {
  .products div[class^=swiper-button-] {
    display: none;
  }
}
.products div[class^=swiper-button-].swiper-button-prev {
  left: -60px;
}
.products div[class^=swiper-button-].swiper-button-next {
  right: -60px;
}
.products div[class^=swiper-button-] path {
  fill: #5ABA47;
  stroke: #5ABA47;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.products div[class^=swiper-button-]:hover path {
  fill: #4A4A4A;
  stroke: #4A4A4A;
}

.pro-cont {
  margin-top: 100px;
}
@media (max-width: 767px) {
  .pro-cont {
    margin-top: 75px;
  }
}

.Product-pre {
  padding-top: 65px;
}
@media (max-width: 767px) {
  .Product-pre {
    padding-top: 35px;
  }
}

.products-head {
  font-size: 28px;
  color: #4A4A4A;
  font-family: bold;
}
@media (max-width: 767px) {
  .products-head {
    font-size: 25px;
  }
}

.product {
  background-color: #F1F5F4;
  display: flex;
  align-items: center;
  padding: 0 40px;
  position: relative;
  height: 378px;
}
.product:hover .sale-sign,
.product:hover .old-price,
.product:hover .product-info {
  visibility: hidden;
  opacity: 0;
}
.product:hover .tools {
  visibility: visible;
  opacity: 1;
}
.product:hover .tools .product-tools {
  transform: translateY(0%);
}

.sale-sign {
  position: absolute;
  top: -18px;
  left: 0;
  background-image: url("../../../images/Rectangle 401.png");
  visibility: visible;
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sale-sign .sale-value {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #fff;
  font-family: black;
}

.old-price {
  display: flex;
  align-items: flex-end;
  color: #4A4A4A;
  font-size: 9px;
  text-decoration: line-through;
  font-family: bold;
  opacity: 0.3;
  position: absolute;
  top: 30px;
  right: 7%;
  visibility: visible;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.old-price .price {
  font-size: 32px;
  font-family: black;
  line-height: 1;
}

.product-info {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 5%;
  justify-content: space-between;
  visibility: visible;
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.product-info .name-rate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-info .product-name {
  font-size: 17px;
  font-family: bold;
}
.product-info .new-price {
  display: flex;
  align-items: flex-end;
  color: #5ABA47;
  font-size: 9px;
  font-family: bold;
}
.product-info .new-price .price {
  font-size: 32px;
  font-family: black;
  line-height: 1;
}

.tools {
  background-color: rgba(122, 122, 122, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5%;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tools .product-tools {
  margin: 0 5px;
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translateY(150%);
}
.tools .product-tools .a {
  fill: #4A4A4A;
  stroke: #4A4A4A;
  stroke-width: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tools .product-tools:hover {
  background-color: #5ABA47;
}
.tools .product-tools:hover .a {
  fill: #fff;
  stroke: #fff;
}
.tools .product-tools:nth-of-type(1) {
  transition-delay: 0s;
}
.tools .product-tools:nth-of-type(2) {
  transition-delay: 0.05s;
}
.tools .product-tools:nth-of-type(3) {
  transition-delay: 0.1s;
}
.tools .product-tools:nth-of-type(4) {
  transition-delay: 0.15s;
}

.Product-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.Product-flex .product {
  width: calc(25% - 12px);
  margin-bottom: 16px;
  margin-left: 16px;
}
.Product-flex .product:nth-of-type(4n) {
  margin-left: 0;
}
@media (max-width: 1199px) {
  .Product-flex .product {
    width: calc(33.3333% - 10.76px);
  }
  .Product-flex .product:nth-of-type(4n) {
    margin-left: 16px;
  }
  .Product-flex .product:nth-of-type(3n) {
    margin-left: 0;
  }
}

.banners-slider-cont {
  margin-top: 100px;
}
@media (max-width: 767px) {
  .banners-slider-cont {
    margin-top: 75px;
  }
}
.banners-slider-cont .container {
  width: 100%;
  padding: 0;
}
@media (max-width: 767px) {
  .banners-slider-cont .container {
    padding: 0 15px;
  }
}
.banners-slider-cont .swiper-slide {
  width: 674px !important;
}
@media (max-width: 767px) {
  .banners-slider-cont .swiper-slide {
    width: 100% !important;
  }
}
.banners-slider-cont .banners-head {
  padding: 0 20px;
  height: 143px;
  background-color: #fff;
  font-size: 34px;
  font-family: bold;
  color: #4A4A4A;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 60px;
}
.banners-slider-cont .banners-head:after {
  top: -14px;
  left: -14px;
  right: -14px;
  bottom: -14px;
  content: "";
  border: 2px solid #fff;
  position: absolute;
}
@media (max-width: 767px) {
  .banners-slider-cont .banners-head {
    width: 100%;
    height: auto;
    position: relative;
    transform: none;
    top: auto;
    left: auto;
    padding: 0;
    font-size: 25px;
    text-align: center;
    margin-bottom: 35px;
  }
  .banners-slider-cont .banners-head::after {
    display: none;
  }
}
.banners-slider-cont .banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0;
  display: flex;
}
.banners-slider-cont .banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
  z-index: 1;
  cursor: pointer;
}
.banners-slider-cont .banner img {
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.banners-slider-cont .banner:hover img {
  transform: scale(1.05);
}
.banners-slider-cont .banner:hover:after {
  -webkit-animation: shape 0.7s linear;
  animation: shape 0.7s linear;
}
.banners-slider-cont .banners {
  padding-right: 290px;
}
@media (max-width: 767px) {
  .banners-slider-cont .banners {
    padding-right: 0;
  }
}
.banners-slider-cont .banners-slider {
  position: relative;
  width: 100%;
}

.barnd {
  width: 100%;
  height: 261px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1F5F4;
  position: relative;
}
.barnd img {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.barnd:hover img {
  transform: scale(0.95);
}
.barnd:after {
  width: 1px;
  height: 171px;
  background-color: #fff;
  position: absolute;
  left: 0;
  content: "";
  display: block;
}

.pro-withoutslider .swiper-pagination {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 230px;
  left: -60px;
}
.pro-withoutslider .swiper-pagination .swiper-pagination-bullet {
  margin: 2.5px 0;
  opacity: 1;
  width: 13px;
  height: 13px;
  border: 1px solid #5ABA47;
  background-color: transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
}
.pro-withoutslider .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: #5ABA47;
}
.pro-withoutslider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #5ABA47;
}
@media (max-width: 767px) {
  .pro-withoutslider .swiper-pagination {
    top: unset;
    left: unset;
    position: relative;
    flex-direction: row;
    margin-top: 25px;
    display: flex;
  }
  .pro-withoutslider .swiper-pagination .swiper-pagination-bullet {
    margin: 0 2.5px;
  }
}

.noUi-target.noUi-horizontal {
  height: 12px;
  border-radius: 6px;
  border: none;
  box-shadow: none;
  background: #F1F5F4;
  width: calc(100% - 10px);
}
.noUi-target .noUi-connect {
  background: #5ABA47;
}
.noUi-target .noUi-handle {
  background: #fff;
  width: 18px;
  height: 18px;
  box-shadow: 0px 3px 6px #5ABA4745;
  border: 5px solid #5ABA47;
  border-radius: 50%;
  top: -3px;
  bottom: -3px;
  outline: none;
}
.noUi-target .noUi-handle::before {
  display: none;
}
.noUi-target .noUi-handle::after {
  display: none;
}
.noUi-target.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle.noUi-handle-lower {
  left: -10px;
}
.noUi-target.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle.noUi-handle-upper {
  left: -5px;
}

.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 99999;
}
.loader svg {
  width: 130px;
}
.loader svg path {
  fill: #5ABA47;
}

@keyframes flash {
  0%, 50%, 100% {
    transform: scale(1);
  }
  25%, 75% {
    transform: scale(1.1);
  }
}
.pulse {
  animation: flash 5s infinite;
}

header {
  border-top: 5px solid #5ABA47;
  padding-top: 35px;
  margin-bottom: 34px;
}
@media (max-width: 767px) {
  header {
    padding-top: 20px;
    margin-bottom: 19px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 151px;
  display: flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  align-items: center;
}

.mo-cart-ico {
  display: flex;
  position: relative;
  width: 35.13px;
}
.mo-cart-ico .a {
  stroke: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-cart-ico .items {
  right: -12px;
  top: -6px;
  position: absolute;
  width: 22px;
  height: 22px;
  line-height: 22px;
  background-color: #5ABA47;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
  font-family: bold;
}
.mo-cart-ico:hover .a {
  fill: #5ABA47;
}
.mo-cart-ico:hover .items {
  animation: vibe 0.7s ease forwards;
}

._2nd-header-cont {
  background-color: #F1F5F4;
  align-items: center;
  justify-content: space-between;
}

._2nd-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  ._2nd-head {
    padding: 10px 0;
  }
}

.mo-menu-ico {
  display: flex;
  position: relative;
}
.mo-menu-ico .a {
  fill: #4A4A4A;
  stroke: #4A4A4A;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-menu-ico:hover .a {
  fill: #5ABA47;
  stroke: #5ABA47;
}

.mo-user-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-anchor {
  margin-left: 30px;
}
@media (max-width: 767px) {
  .user-anchor {
    margin-left: 20px;
  }
}
.user-anchor .a {
  fill: #4A4A4A;
  stroke: #4A4A4A;
  stroke-width: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.user-anchor:last-of-type {
  margin-left: 0;
}
.user-anchor.mo-likes .a {
  stroke: #4A4A4A;
  stroke-width: 2px;
  fill: transparent;
}
.user-anchor.mo-user .a {
  stroke-width: 0.5px;
}
.user-anchor:hover .a {
  fill: #5ABA47;
  stroke: #5ABA47;
}
.user-anchor:hover.mo-likes .a {
  fill: transparent;
}
@media (max-width: 767px) {
  .user-anchor.mo-cart-ico {
    margin-left: 0;
  }
}

/* start Cart */
.cart-cont {
  position: relative;
}
.cart-cont:hover .mo-cartList {
  visibility: visible;
  opacity: 1;
}
.cart-cont:hover .mo-cart-ico .a {
  fill: #5ABA47;
}

.mo-cartList {
  background-color: #fff;
  min-width: 371px;
  position: absolute;
  z-index: 99;
  top: 50px;
  right: -50px;
  box-shadow: 0px 3px 6px #00000029;
  padding: 22px;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .mo-cartList {
    top: 40px;
    min-width: 350px;
    right: 0;
  }
}
.mo-cartList:hover, .mo-cartList:focus {
  box-shadow: 0px 3px 6px #00000029;
}
.mo-cartList .mo-cartprods {
  margin-bottom: 16px;
}
.mo-cartList .mo-cartprods:nth-last-of-type(2) {
  margin: 0;
}
.mo-cartList .mo-popcart-img {
  padding: 20px;
  border: none;
  border-radius: 0;
  background-color: #F1F5F4;
  height: 94px;
  width: 98px;
  display: flex;
  border: 1px solid #F1F5F4;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-cartList .mo-popcart-img:hover {
  background-color: transparent;
}
.mo-cartList .mo-table {
  border: none;
}
.mo-cartList .mo-table td {
  border: none;
}
.mo-cartList .mo-popcart-info {
  height: 94px;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  justify-content: space-between;
  padding: 10px 0;
}
.mo-cartList .mo-cartprodname {
  font-size: 17px;
  font-family: med;
  color: #4A4A4A;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-cartList .mo-cartprodname:hover {
  color: #5ABA47;
}
.mo-cartList .piece-total {
  display: flex;
  align-items: center;
}
.mo-cartList .piece-count {
  font-family: med;
  opacity: 0.3;
  color: #4A4A4A;
  font-size: 16px;
}
.mo-cartList .piece-price {
  margin-right: 5px;
  opacity: 1;
  font-family: bold;
  display: flex;
  align-items: flex-end;
  font-size: 8px;
}
.mo-cartList .piece-price .price-num {
  font-size: 21px;
  font-family: black;
  color: #4A4A4A;
  line-height: 1;
  margin-left: 3px;
}
.mo-cartList .mo-delete-piece {
  display: inline-flex;
  background-color: transparent;
  width: 11px;
}
.mo-cartList .mo-delete-piece .a {
  fill: #d40003;
  stroke-width: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-cartList .mo-delete-piece:hover .a {
  fill: #f00004;
  stroke-width: 0;
}
.mo-cartList .mo-buttons {
  display: flex;
  align-items: center;
  margin-top: 29px;
}
.mo-cartList .mo-popcart-btn {
  width: 50%;
  height: 47px;
  border-radius: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #5ABA47;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #5ABA47;
  font-size: 17px;
  font-family: bold;
}
.mo-cartList .mo-popcart-btn:first-of-type {
  margin-left: 15px;
  background-color: #5ABA47;
  box-shadow: 0px 3px 20px #5ABA4740;
  color: #fff;
}
.mo-cartList .mo-popcart-btn:first-of-type:hover, .mo-cartList .mo-popcart-btn:first-of-type:focus {
  background-color: #fff;
  box-shadow: none;
  color: #5ABA47;
}
.mo-cartList .mo-popcart-btn:hover, .mo-cartList .mo-popcart-btn:focus {
  color: #fff;
  background-color: #5ABA47;
  box-shadow: 0px 3px 20px #5ABA4740;
}

/*end Cart */
._4-banners-cont {
  margin-top: 100px;
}
@media (max-width: 767px) {
  ._4-banners-cont {
    margin-top: 75px;
  }
}
._4-banners-cont .banners-head {
  width: 200px;
  height: 200px;
  background-color: #fff;
  font-size: 28px;
  font-family: bold;
  color: #4A4A4A;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 60px;
}
._4-banners-cont .banners-head:after {
  top: -14px;
  left: -14px;
  right: -14px;
  bottom: -14px;
  content: "";
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
}
@media (max-width: 767px) {
  ._4-banners-cont .banners-head {
    width: 100%;
    height: auto;
    position: relative;
    transform: none;
    top: auto;
    left: auto;
    padding: 0;
    font-size: 25px;
    text-align: center;
    margin-bottom: 35px;
  }
  ._4-banners-cont .banners-head::after {
    display: none;
  }
}

.banners {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 767px) {
  .banners {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.banner {
  width: calc(50% - 8px);
  overflow: hidden;
  margin-bottom: 16px;
  margin-left: 16px;
  position: relative;
  display: flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  align-items: center;
}
.banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
  z-index: 1;
  cursor: pointer;
}
.banner img {
  width: 100%;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.banner:nth-of-type(2n) {
  margin-left: 0;
}
.banner:hover img {
  transform: scale(1.05);
}
.banner:hover:after {
  -webkit-animation: shape 0.7s linear;
  animation: shape 0.7s linear;
}
.banner .banner-info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 32px;
}
@media (max-width: 767px) {
  .banner .banner-info {
    justify-content: center;
  }
}
.banner .banner-name {
  text-transform: uppercase;
  color: #fff;
  font-size: 34px;
  font-family: bold;
  margin: 0 4.5px;
}
@media (max-width: 767px) {
  .banner .banner-name {
    font-size: 25px;
  }
}
.banner .shop-now {
  margin: 0 4.5px;
  font-family: bold;
  color: #fff;
  font-size: 19px;
  padding: 0 15px;
  height: 35px;
  border: 2px solid #FFFFFF;
  display: flex;
  align-items: center;
  background-color: transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .banner .shop-now {
    padding: 0 15px;
    height: 30px;
    font-size: 18px;
  }
}
.banner .shop-now:hover {
  border-color: #5ABA47;
}
@media (max-width: 767px) {
  .banner {
    width: 100%;
    margin-left: 0;
  }
  .banner:nth-of-type(2n) {
    margin-left: 0;
  }
}

._2-banners-cont {
  margin-top: 100px;
}
._2-banners-cont .banners-head {
  padding: 0 35px;
  height: 120px;
  background-color: #fff;
  font-size: 28px;
  font-family: bold;
  color: #4A4A4A;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
._2-banners-cont .banners-head:after {
  top: -14px;
  left: -14px;
  right: -14px;
  bottom: -14px;
  content: "";
  border: 2px solid #fff;
  border-radius: 0;
  position: absolute;
}
@media (max-width: 767px) {
  ._2-banners-cont .banners-head {
    width: 100%;
    height: auto;
    position: relative;
    transform: none;
    top: auto;
    left: auto;
    padding: 0;
    font-size: 25px;
    text-align: center;
    margin-bottom: 35px;
  }
  ._2-banners-cont .banners-head::after {
    display: none;
  }
}
._2-banners-cont .banner .banner-info {
  padding: 0 35px 32px;
}
._2-banners-cont .banner:first-of-type .banner-info {
  justify-content: flex-start;
}
@media (max-width: 767px) {
  ._2-banners-cont .banner:first-of-type .banner-info {
    justify-content: center;
  }
}
._2-banners-cont .banner:last-of-type .banner-info {
  justify-content: flex-end;
}
@media (max-width: 767px) {
  ._2-banners-cont .banner:last-of-type .banner-info {
    justify-content: center;
  }
}

._4-banners-cont-sec {
  margin-top: 100px;
}
._4-banners-cont-sec .banners-head {
  padding: 0 35px;
  height: 120px;
  background-color: #fff;
  font-size: 28px;
  font-family: bold;
  color: #4A4A4A;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
._4-banners-cont-sec .banners-head:after {
  top: -14px;
  left: -14px;
  right: -14px;
  bottom: -14px;
  content: "";
  border: 2px solid #fff;
  border-radius: 0;
  position: absolute;
}
@media (max-width: 767px) {
  ._4-banners-cont-sec .banners-head {
    width: 100%;
    height: auto;
    position: relative;
    transform: none;
    top: auto;
    left: auto;
    padding: 0;
    font-size: 25px;
    text-align: center;
    margin-bottom: 35px;
  }
  ._4-banners-cont-sec .banners-head::after {
    display: none;
  }
}
._4-banners-cont-sec ._col-half {
  width: calc(50% - 8px);
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
._4-banners-cont-sec ._col-half:last-of-type {
  margin-left: 0;
}
._4-banners-cont-sec ._col-half .banner-info {
  justify-content: flex-end;
}
@media (max-width: 767px) {
  ._4-banners-cont-sec ._col-half .banner-info {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  ._4-banners-cont-sec ._col-half {
    width: 100%;
    margin-left: 0;
  }
}
._4-banners-cont-sec .banner {
  width: 100%;
}
._4-banners-cont-sec .banner img {
  width: 100%;
}
._4-banners-cont-sec .col-row {
  width: 100%;
  display: flex;
}
@media (max-width: 767px) {
  ._4-banners-cont-sec .col-row {
    flex-direction: column;
  }
}
._4-banners-cont-sec .col-row .banner {
  margin-left: 0;
  margin-bottom: 13px;
}
@media (max-width: 767px) {
  ._4-banners-cont-sec .col-row .banner {
    margin-bottom: 16px;
  }
}
._4-banners-cont-sec .col-row:last-of-type .banner {
  width: calc(50% - 8px);
  margin-left: 16px;
}
._4-banners-cont-sec .col-row:last-of-type .banner:last-of-type {
  margin-left: 0;
}
._4-banners-cont-sec .col-row:last-of-type .banner .banner-info {
  flex-direction: column;
  align-items: flex-end;
  padding-left: 10px;
}
._4-banners-cont-sec .col-row:last-of-type .banner .banner-info .banner-name {
  order: 1;
  margin: 0;
  font-size: 33px;
}
._4-banners-cont-sec .col-row:last-of-type .banner .banner-info .shop-now {
  order: 2;
  margin-top: 9px;
}
@media (max-width: 767px) {
  ._4-banners-cont-sec .col-row:last-of-type .banner {
    width: 100%;
    margin-left: 0;
  }
  ._4-banners-cont-sec .col-row:last-of-type .banner .banner-info {
    flex-direction: row;
    justify-content: center;
    padding-left: 0;
  }
  ._4-banners-cont-sec .col-row:last-of-type .banner .banner-info .banner-name {
    order: 2;
    margin: 0;
    font-size: 25px;
  }
  ._4-banners-cont-sec .col-row:last-of-type .banner .banner-info .shop-now {
    order: 1;
    margin-top: 0;
  }
}

.table-responsive.mo-cart-page {
  border: none;
}

.mo-cart-table {
  width: 100%;
  min-width: 850px;
  margin-top: 60px;
  border-bottom: 3px dashed #F1F5F4;
}
@media (max-width: 767px) {
  .mo-cart-table {
    margin-top: 40px;
  }
}
.mo-cart-table th {
  font-size: 20px;
  color: #4A4A4A;
  font-family: bold;
  text-align: center;
  padding-bottom: 33px;
}
.mo-cart-table tr th:first-of-type {
  text-align: right;
}
.mo-cart-table tr td {
  text-align: center;
  padding-bottom: 20px;
}
.mo-cart-table tr td:first-of-type {
  text-align: right;
}
@media (max-width: 767px) {
  .mo-cart-table tr td:first-of-type {
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .mo-cart-table tr td:last-of-type {
    padding-left: 15px;
  }
}
.mo-cart-table tr:last-of-type td {
  padding-bottom: 33px;
}
.mo-cart-table .mo-cart-info {
  display: flex;
  align-items: center;
}
.mo-cart-table .mo-cart-info:hover .mo-popcart-img {
  background-color: transparent;
}
.mo-cart-table .mo-cart-info:hover .mo-cartprodname {
  color: #5ABA47;
}
.mo-cart-table .mo-popcart-img {
  width: 122px;
  height: 117px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1F5F4;
  padding: 25px;
  border: 1px solid #F1F5F4;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-cart-table .mo-popcart-img:hover {
  background-color: transparent;
}
.mo-cart-table .mo-cartprodinfo {
  font-family: med;
  color: #4A4A4A;
  font-size: 17px;
  margin: 0 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-cart-table .qtySelector {
  width: 122px;
  height: 39px;
  border: 1px solid #ECECEC;
  border-radius: 10px;
  display: flex;
  margin: auto;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mo-cart-table .qtySelector div {
  height: 100%;
  float: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.mo-cart-table .qtySelector div svg .a {
  fill: #4A4A4A;
  stroke: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-cart-table .qtySelector div:hover svg .a {
  fill: #5ABA47;
}
.mo-cart-table .qtySelector div.clicked svg {
  transform: scale(1.25);
}
.mo-cart-table .qtySelector .decreaseQty {
  padding: 0 13px;
  border-right: 1px solid #ddd;
}
.mo-cart-table .qtySelector .increaseQty {
  padding: 0 12px;
  border-left: 1px solid #ddd;
}
.mo-cart-table .qtySelector .qtyValue {
  border: none;
  width: 48px;
  height: 100%;
  float: left;
  text-align: center;
  font-size: 13px;
  color: #4A4A4A;
  font-family: bold;
  z-index: 9;
}
.mo-cart-table .mo-delete-piece {
  display: inline-flex;
  background-color: transparent;
  width: 11px;
}
.mo-cart-table .mo-delete-piece .a {
  fill: #d40003;
  stroke-width: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-cart-table .mo-delete-piece:hover .a {
  fill: #f00004;
  stroke-width: 0;
}

.cart-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 33px 0;
}
@media (max-width: 767px) {
  .cart-total {
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .cart-total {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.cart-total .cart-total-pay {
  padding: 0 74px;
  height: 56px;
  background-color: #5ABA47;
  border: 3px solid #5ABA47;
  border-radius: 51px;
  font-size: 22px;
  font-family: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cart-total .cart-total-pay:hover {
  color: #5ABA47;
  background-color: #fff;
}
@media (max-width: 767px) {
  .cart-total .cart-total-pay {
    order: 2;
    text-align: center;
    margin-top: 30px;
  }
}
.cart-total .cart-total-total {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #5ABA47;
  font-size: 17px;
  font-family: bold;
}
.cart-total .cart-total-total .num {
  font-size: 55px;
  font-family: black;
}
@media (max-width: 767px) {
  .cart-total .cart-total-total {
    order: 1;
    text-align: center;
  }
}

.pro-page-cont {
  margin: 0;
}
.pro-page-cont .whish-tools {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 9;
}
.pro-page-cont .whish-tools .a {
  fill: #5ABA47;
  stroke: #5ABA47;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pro-page-cont .whish-tools:hover .a {
  fill: transparent;
}
@media (max-width: 767px) {
  .pro-page-cont .Product-flex .product {
    width: 100%;
    margin-left: 0;
  }
  .pro-page-cont .Product-flex .product:nth-of-type(4n) {
    margin-left: 0;
  }
  .pro-page-cont .Product-flex .product:nth-of-type(3n) {
    margin-left: 0;
  }
}

.filters-cont {
  margin-top: 85px;
}
@media (max-width: 767px) {
  .filters-cont {
    margin-top: 35px;
    text-align: center;
  }
}
.filters-cont .depart-head {
  font-size: 28px;
  color: #4A4A4A;
  font-family: bold;
}
@media (max-width: 767px) {
  .filters-cont .depart-head {
    font-size: 25px;
  }
}
.filters-cont .filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .filters-cont .filters {
    margin-top: 30px;
    flex-wrap: wrap;
  }
}
.filters-cont .range-slider {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .filters-cont .range-slider {
    width: 100%;
    margin-bottom: 25px;
  }
}
.filters-cont .slider-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}
.filters-cont .slider-title {
  font-size: 18px;
  font-family: bold;
  color: #4A4A4A;
}
@media (max-width: 767px) {
  .filters-cont .slider-title {
    font-size: 15px;
  }
}
.filters-cont .range {
  font-family: med;
  font-size: 18px;
  color: #4A4A4A;
  opacity: 0.25;
}
@media (max-width: 767px) {
  .filters-cont .range {
    font-size: 15px;
  }
}
.filters-cont .range-select {
  width: 40%;
}
@media (max-width: 767px) {
  .filters-cont .range-select {
    width: 90%;
  }
}
.filters-cont .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
  height: 45px;
}
.filters-cont .bootstrap-select.open > .dropdown-toggle {
  background-color: #F1F5F4;
}
.filters-cont .bootstrap-select.open > .dropdown-toggle:hover {
  background-color: #F1F5F4;
}
.filters-cont .bootstrap-select.open .dropdown-menu:not(ul) {
  visibility: visible;
  opacity: 1;
}
.filters-cont .bootstrap-select > .dropdown-toggle {
  height: 100%;
  outline: none !important;
  box-shadow: none;
  padding: 0 25px;
  color: #4A4A4A;
  background-color: #F1F5F4;
  border: none;
  border-radius: 27px;
  font-size: 15px;
}
.filters-cont .bootstrap-select > .dropdown-toggle .filter-option {
  padding: 0;
  text-align: right;
  color: #4A4A4A;
}
.filters-cont .bootstrap-select > .dropdown-toggle .filter-option .filter-option-inner-inner {
  opacity: 0.5;
}
.filters-cont .bootstrap-select > .dropdown-toggle .bs-caret .caret {
  display: none;
}
.filters-cont .bootstrap-select > .dropdown-toggle .bs-caret:after {
  content: "";
  font-family: "Linearicons-Free";
  font-size: 12px;
  color: #4A4A4A;
  font-weight: 900;
}
.filters-cont .bootstrap-select .dropdown-menu:not(ul) {
  border: none;
  border-radius: 0;
  box-shadow: 0px 3px 20px #0000000D;
  display: block;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.filters-cont .bootstrap-select .dropdown-menu li a {
  font-size: 17px;
  color: #4A4A4A;
  opacity: 0.5;
  font-family: med;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
  box-shadow: none;
}
.filters-cont .bootstrap-select .dropdown-menu li a:hover {
  opacity: 1;
  background-color: transparent;
}
.filters-cont .bootstrap-select .dropdown-menu li a.selected.active {
  background-color: transparent;
  opacity: 1;
  font-family: bold;
}
.filters-cont .filter-btn {
  cursor: pointer;
  position: relative;
}
@media (max-width: 767px) {
  .filters-cont .filter-btn {
    width: 5%;
  }
}
.filters-cont .filter-btn .a {
  fill: #5ABA47;
  stroke: #5ABA47;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.filters-cont .filter-btn:hover .a {
  fill: #4A4A4A;
  stroke: #4A4A4A;
}
.filters-cont .filter-btn:hover .mo-filters {
  opacity: 1;
  visibility: visible;
}
.filters-cont .filter-btn .mo-filters {
  position: absolute;
  left: 0;
  bottom: -15px;
  transform: translateY(100%);
  min-height: 102px;
  width: 142px;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0px 3px 20px #0000000D;
  z-index: 99;
  text-align: right;
  justify-content: center;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.filters-cont .filter-btn .mo-filters .filter-li {
  margin: 8px 0;
  display: flex;
}
.filters-cont .filter-btn .mo-filters .filter-anchor {
  font-size: 17px;
  color: #4A4A4A;
  opacity: 0.5;
  font-family: med;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.filters-cont .filter-btn .mo-filters .filter-anchor:hover {
  opacity: 1;
  background-color: transparent;
}
.filters-cont .filter-btn .mo-filters .filter-anchor.selected {
  background-color: transparent;
  opacity: 1;
  font-family: bold;
}

.footer {
  position: relative;
  margin-top: 80px;
  overflow: hidden;
}
.footer .overlay {
  position: absolute;
  bottom: -120px;
  left: -110px;
}
@media (max-width: 767px) {
  .footer .overlay {
    bottom: 0;
  }
}
@media (max-width: 767px) {
  .footer .nav-foot-cont {
    margin: 25px 0;
  }
}
@media (max-width: 767px) {
  .footer .news-letter {
    margin: 25px 0;
  }
}
.footer .foot-logo {
  width: 238px;
  display: flex;
  margin-bottom: 37px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  align-items: center;
}
@media (max-width: 767px) {
  .footer .foot-logo {
    width: 150px;
    margin: 0 auto 20px;
  }
}
.footer .foot-header {
  font-size: 28px;
  font-family: bold;
  color: #4A4A4A;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 35px;
}
.footer .foot-header:after {
  content: "";
  display: block;
  width: 74px;
  height: 3px;
  background: #5ABA47;
  border-radius: 3px;
  margin-top: 13px;
}
@media (max-width: 767px) {
  .footer .foot-header {
    text-align: center;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
.footer .nav-foot-li {
  margin: 5px 0;
}
@media (max-width: 767px) {
  .footer .nav-foot-li {
    margin: 7px auto;
    text-align: center;
  }
}
.footer .nav-foot-link {
  font-size: 18px;
  font-family: med;
  color: #414141;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
}
.footer .nav-foot-link:hover {
  color: #5ABA47;
  transform: translateX(-8px);
}
@media (max-width: 767px) {
  .footer .nav-foot-link {
    font-size: 18px;
  }
  .footer .nav-foot-link:hover {
    color: #5ABA47;
    transform: none;
  }
}
.footer .news-sub-header {
  font-size: 16px;
  font-family: med;
  color: #414141;
}
@media (max-width: 767px) {
  .footer .news-sub-header {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
  }
}
.footer .last-footer {
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  color: #4A4A4A;
  opacity: 0.5;
}
@media (max-width: 767px) {
  .footer .last-footer {
    height: 60px;
  }
}

/*# sourceMappingURL=main.css.map */
