/*0.4*/
/*0.161  -> 0.4*/
@keyframes vibe {
  0%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  50% {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
  }
  75% {
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}
@keyframes shape {
  0% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 100%;
  }
}
.fixall {
  margin: 0;
  outline: none;
  box-shadow: none;
  padding: 0;
  text-decoration: none;
  border: none;
}
.fixall:hover {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}
.fixall:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

body {
  position: relative;
  font-family: tajwal;
}
body::-webkit-scrollbar {
  background-color: rgba(241, 245, 244, 0.5);
  width: 7px;
  height: 0px;
}
body::-webkit-scrollbar-thumb {
  background-color: #5ABA47;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #5ABA47 rgba(241, 245, 244, 0.5);
}

.overflow {
  overflow: hidden !important;
}

.container {
  width: 1170px;
}
@media (min-width: 1700px) {
  .container {
    width: 1640px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 95%;
  }
}

.a {
  opacity: 1 !important;
}

@font-face {
  font-family: "tajwal";
  src: url("../fonts/TAJAWAL/TAJAWAL-REGULAR.TTF");
}
@font-face {
  font-family: "xlight";
  src: url("../fonts/TAJAWAL/TAJAWAL-EXTRALIGHT.TTF");
}
@font-face {
  font-family: "light";
  src: url("../fonts/TAJAWAL/TAJAWAL-LIGHT.TTF");
}
@font-face {
  font-family: "med";
  src: url("../fonts/TAJAWAL/TAJAWAL-MEDIUM.TTF");
}
@font-face {
  font-family: "bold";
  src: url("../fonts/TAJAWAL/TAJAWAL-BOLD.TTF");
}
@font-face {
  font-family: "xbold";
  src: url("../fonts/TAJAWAL/TAJAWAL-EXTRABOLD.TTF");
}
@font-face {
  font-family: "black";
  src: url("../fonts/TAJAWAL/TAJAWAL-BLACK.TTF");
}
.search-fixed {
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
  position: fixed;
  display: none;
}
.search-fixed .search-cont {
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  flex-direction: column;
}
.search-fixed .search-sign {
  margin-bottom: 35px;
}
.search-fixed .search-sign .a {
  fill: #4A4A4A;
}
.search-fixed .search-head {
  font-size: 34px;
  font-family: bold;
  color: #4A4A4A;
  margin-bottom: 20px;
}
.search-fixed .search-desc {
  font-size: 20px;
  font-family: bold;
  color: #4A4A4A;
}
.search-fixed .search {
  position: relative;
  width: 100%;
  height: 54px;
  margin-top: 30px;
}
.search-fixed .search-input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: right;
  padding: 0 25px;
  background-color: #F1F5F4;
  border-radius: 27px;
  border: 2px solid transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #4A4A4A;
  font-size: 16px;
}
.search-fixed .search-input::placeholder {
  color: #414141;
  font-size: 15px;
  opacity: 0.5;
}
.search-fixed .search-input:focus {
  border-color: #5ABA47;
}
.search-fixed .search-button {
  padding: 0 50px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #5ABA47;
  border: 2px solid #5ABA47;
  font-size: 17px;
  color: #fff;
  font-family: bold;
  border-radius: 27px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.search-fixed .search-button:hover {
  color: #5ABA47;
  background-color: transparent;
}

.newsletter-cont {
  position: relative;
  width: 100%;
  height: 54px;
  margin-top: 20px;
}
.newsletter-cont .newsletter-input {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: right;
  padding: 0 25px;
  background-color: #F1F5F4;
  border-radius: 27px;
  border: 2px solid transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #4A4A4A;
  font-size: 16px;
}
.newsletter-cont .newsletter-input::placeholder {
  color: #414141;
  font-size: 15px;
  opacity: 0.5;
}
.newsletter-cont .newsletter-input:focus {
  border-color: #5ABA47;
}
.newsletter-cont .newsletter-button {
  padding: 0 40px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #5ABA47;
  border: 2px solid #5ABA47;
  font-size: 17px;
  color: #fff;
  font-family: bold;
  border-radius: 27px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.newsletter-cont .newsletter-button:hover {
  color: #5ABA47;
  background-color: transparent;
}

.mo-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.nav-li {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-anchor {
  font-family: bold;
  font-size: 17px;
  color: #4A4A4A;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.nav-anchor:hover, .nav-anchor:focus {
  background-color: #fff;
  color: #5ABA47;
}

.mo-dropdown {
  position: relative;
  z-index: 9;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-dropdown .mo-dropmenu {
  padding: 19px 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 9;
  min-width: 471px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-dropdown .mo-dropmenu .nav-li {
  width: 33.333%;
  padding: 0;
  justify-content: center;
  position: relative;
  margin: 5px 0;
}
.mo-dropdown .mo-dropmenu .nav-li:after {
  background-color: #F1F5F4;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.mo-dropdown .mo-dropmenu .nav-li:nth-of-type(3n)::after {
  display: none;
}
.mo-dropdown .mo-dropmenu .nav-anchor {
  color: #414141;
  opacity: 0.5;
}
.mo-dropdown .mo-dropmenu .nav-anchor:hover {
  color: #4A4A4A;
  opacity: 1;
}
.mo-dropdown:hover {
  background-color: #fff;
}
.mo-dropdown:hover > .nav-anchor {
  color: #5ABA47;
}
.mo-dropdown:hover .mo-dropmenu {
  visibility: visible;
  opacity: 1;
}

.main-slider {
  position: relative;
}
.main-slider .slide {
  position: relative;
}
.main-slider .slide-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.main-slider .slide-info .sale {
  font-size: 118px;
  color: #fff;
}
.main-slider div[class^=swiper-button-] {
  top: 50%;
  background-image: none;
  transform: translateY(-50%);
  margin: 0 40px;
}
.main-slider div[class^=swiper-button-] path {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.main-slider div[class^=swiper-button-]:hover path {
  fill: #5ABA47;
}

.products {
  position: relative;
}
.products#brands .swiper-pagination {
  top: 170px;
}
.products .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 230px;
  left: -40px;
}
.products .swiper-pagination .swiper-pagination-bullet {
  margin: 2.5px 0;
  opacity: 1;
  width: 13px;
  height: 13px;
  border: 1px solid #5ABA47;
  background-color: transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
}
.products .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: #5ABA47;
}
.products .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #5ABA47;
}
.products div[class^=swiper-button-] {
  background-image: none;
}
.products div[class^=swiper-button-].swiper-button-prev {
  left: -40px;
}
.products div[class^=swiper-button-].swiper-button-next {
  right: -40px;
}
.products div[class^=swiper-button-] path {
  fill: #5ABA47;
  stroke: #5ABA47;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.products div[class^=swiper-button-]:hover path {
  fill: #4A4A4A;
  stroke: #4A4A4A;
}

.pro-cont {
  margin-top: 100px;
}

.Product-pre {
  padding-top: 65px;
}

.products-head {
  font-size: 34px;
  color: #4A4A4A;
  font-family: bold;
}

.product {
  background-color: #F1F5F4;
  display: flex;
  align-items: center;
  padding: 0 40px;
  position: relative;
  height: 378px;
}
.product:hover .sale-sign,
.product:hover .old-price,
.product:hover .product-info {
  display: none;
}
.product:hover .tools {
  visibility: visible;
  opacity: 1;
}
.product:hover .tools .product-tools {
  transform: translateY(0%);
}

.sale-sign {
  position: absolute;
  top: -18px;
  left: 0;
  background-image: url("../../../images/Rectangle 401.png");
}
.sale-sign .sale-value {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 27px;
  color: #fff;
  font-family: black;
}

.old-price {
  display: flex;
  align-items: flex-end;
  color: #4A4A4A;
  font-size: 9px;
  text-decoration: line-through;
  font-family: bold;
  opacity: 0.3;
  position: absolute;
  top: 30px;
  right: 7%;
}
.old-price .price {
  font-size: 36px;
  font-family: black;
  line-height: 1;
}

.product-info {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 5%;
  justify-content: space-between;
}
.product-info .name-rate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product-info .product-name {
  font-size: 17px;
  font-family: bold;
}
.product-info .new-price {
  display: flex;
  align-items: flex-end;
  color: #5ABA47;
  font-size: 9px;
  font-family: bold;
}
.product-info .new-price .price {
  font-size: 36px;
  font-family: black;
  line-height: 1;
}

.tools {
  background-color: rgba(122, 122, 122, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5%;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.tools .product-tools {
  margin: 0 5px;
  width: 47px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translateY(150%);
}
.tools .product-tools .a {
  fill: #4A4A4A;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tools .product-tools:hover {
  background-color: #5ABA47;
}
.tools .product-tools:hover .a {
  fill: #fff;
  stroke: #fff;
}
.tools .product-tools:nth-of-type(1) {
  transition-delay: 0s;
}
.tools .product-tools:nth-of-type(2) {
  transition-delay: 0.1s;
}
.tools .product-tools:nth-of-type(3) {
  transition-delay: 0.2s;
}
.tools .product-tools:nth-of-type(4) {
  transition-delay: 0.3s;
}

.Product-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.Product-flex .product {
  width: calc(25% - 12px);
  margin-bottom: 16px;
  margin-left: 16px;
}
.Product-flex .product:nth-of-type(4n) {
  margin-left: 0;
}

.banners-slider-cont {
  margin-top: 100px;
}
.banners-slider-cont .container {
  width: 100%;
  padding: 0;
}
.banners-slider-cont .swiper-slide {
  width: 674px !important;
}
.banners-slider-cont .banners-head {
  padding: 0 20px;
  height: 143px;
  background-color: #fff;
  font-size: 34px;
  font-family: bold;
  color: #4A4A4A;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 60px;
}
.banners-slider-cont .banners-head:after {
  top: -14px;
  left: -14px;
  right: -14px;
  bottom: -14px;
  content: "";
  border: 2px solid #fff;
  position: absolute;
}
.banners-slider-cont .banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0;
  display: flex;
}
.banners-slider-cont .banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
  z-index: 1;
  cursor: pointer;
}
.banners-slider-cont .banner img {
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.banners-slider-cont .banner:hover img {
  transform: scale(1.05);
}
.banners-slider-cont .banner:hover:after {
  -webkit-animation: shape 0.7s linear;
  animation: shape 0.7s linear;
}
.banners-slider-cont .banners {
  padding-right: 290px;
}
.banners-slider-cont .banners-slider {
  position: relative;
  width: 100%;
}

.barnd {
  width: 100%;
  height: 261px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1F5F4;
  position: relative;
}
.barnd img {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.barnd:hover img {
  transform: scale(0.95);
}
.barnd:after {
  width: 1px;
  height: 171px;
  background-color: #fff;
  position: absolute;
  left: 0;
  content: "";
  display: block;
}

header {
  border-top: 5px solid #5ABA47;
  padding-top: 35px;
  margin-bottom: 34px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 151px;
  display: flex;
}

.mo-cart-ico {
  display: flex;
  position: relative;
  width: 35.13px;
}
.mo-cart-ico .a {
  stroke: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-cart-ico .items {
  right: -12px;
  top: -6px;
  position: absolute;
  width: 22px;
  height: 22px;
  line-height: 22px;
  background-color: #5ABA47;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
  font-family: bold;
}
.mo-cart-ico:hover .a {
  fill: #5ABA47;
}
.mo-cart-ico:hover .items {
  animation: vibe 0.7s ease forwards;
}

._2nd-header-cont {
  background-color: #F1F5F4;
  align-items: center;
  justify-content: space-between;
}

._2nd-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mo-menu-ico {
  display: flex;
  position: relative;
}
.mo-menu-ico .a {
  fill: #4A4A4A;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.mo-menu-ico:hover .a {
  fill: #5ABA47;
  stroke: #5ABA47;
}

.mo-user-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-anchor {
  margin-left: 30px;
}
.user-anchor .a {
  fill: #4A4A4A;
  stroke-width: 0;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.user-anchor:last-of-type {
  margin-left: 0;
}
.user-anchor.mo-likes .a {
  stroke-width: 2px;
  fill: transparent;
}
.user-anchor.mo-user .a {
  stroke-width: 0.5px;
}
.user-anchor:hover .a {
  fill: #5ABA47;
  stroke: #5ABA47;
}
.user-anchor:hover.mo-likes .a {
  fill: transparent;
}

._4-banners-cont {
  margin-top: 100px;
}
._4-banners-cont .banners-head {
  width: 255px;
  height: 255px;
  background-color: #fff;
  font-size: 34px;
  font-family: bold;
  color: #4A4A4A;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 60px;
}
._4-banners-cont .banners-head:after {
  top: -14px;
  left: -14px;
  right: -14px;
  bottom: -14px;
  content: "";
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
}

.banners {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.banner {
  width: calc(50% - 8px);
  overflow: hidden;
  margin-bottom: 16px;
  margin-left: 16px;
  position: relative;
  display: flex;
}
.banner:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
  z-index: 1;
  cursor: pointer;
}
.banner img {
  width: 100%;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.banner:nth-of-type(2n) {
  margin-left: 0;
}
.banner:hover img {
  transform: scale(1.05);
}
.banner:hover:after {
  -webkit-animation: shape 0.7s linear;
  animation: shape 0.7s linear;
}
.banner .banner-info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 32px;
}
.banner .banner-name {
  text-transform: uppercase;
  color: #fff;
  font-size: 38px;
  font-family: bold;
  margin: 0 4.5px;
}
.banner .shop-now {
  margin: 0 4.5px;
  font-size: 23px;
  font-family: bold;
  color: #fff;
  padding: 0 20px;
  height: 40px;
  border: 2px solid #FFFFFF;
  display: flex;
  align-items: center;
  background-color: transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.banner .shop-now:hover {
  border-color: #5ABA47;
}

._2-banners-cont {
  margin-top: 100px;
}
._2-banners-cont .banners-head {
  padding: 0 40px;
  height: 140px;
  background-color: #fff;
  font-size: 34px;
  font-family: bold;
  color: #4A4A4A;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
._2-banners-cont .banners-head:after {
  top: -14px;
  left: -14px;
  right: -14px;
  bottom: -14px;
  content: "";
  border: 2px solid #fff;
  border-radius: 0;
  position: absolute;
}
._2-banners-cont .banner .banner-info {
  padding: 0 35px 32px;
}
._2-banners-cont .banner:first-of-type .banner-info {
  justify-content: flex-start;
}
._2-banners-cont .banner:last-of-type .banner-info {
  justify-content: flex-end;
}

._4-banners-cont-sec {
  margin-top: 100px;
}
._4-banners-cont-sec .banners-head {
  padding: 0 40px;
  height: 140px;
  background-color: #fff;
  font-size: 34px;
  font-family: bold;
  color: #4A4A4A;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 60px;
}
._4-banners-cont-sec .banners-head:after {
  top: -14px;
  left: -14px;
  right: -14px;
  bottom: -14px;
  content: "";
  border: 2px solid #fff;
  border-radius: 0;
  position: absolute;
}
._4-banners-cont-sec ._col-half {
  width: calc(50% - 8px);
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
._4-banners-cont-sec ._col-half:last-of-type {
  margin-left: 0;
}
._4-banners-cont-sec ._col-half .banner-info {
  justify-content: flex-end;
}
._4-banners-cont-sec .banner {
  width: 100%;
}
._4-banners-cont-sec .banner img {
  width: 100%;
}
._4-banners-cont-sec .col-row {
  width: 100%;
  display: flex;
}
._4-banners-cont-sec .col-row .banner {
  margin-left: 0;
  margin-bottom: 13px;
}
._4-banners-cont-sec .col-row:last-of-type .banner {
  width: calc(50% - 8px);
  margin-left: 16px;
}
._4-banners-cont-sec .col-row:last-of-type .banner:last-of-type {
  margin-left: 0;
}
._4-banners-cont-sec .col-row:last-of-type .banner .banner-info {
  flex-direction: column;
  align-items: flex-end;
  padding-left: 10px;
}
._4-banners-cont-sec .col-row:last-of-type .banner .banner-info .banner-name {
  order: 1;
  margin: 0;
  font-size: 33px;
}
._4-banners-cont-sec .col-row:last-of-type .banner .banner-info .shop-now {
  order: 2;
  margin-top: 9px;
}

.footer {
  position: relative;
  margin-top: 80px;
  overflow: hidden;
}
.footer .overlay {
  position: absolute;
  bottom: -120px;
  left: -110px;
}
.footer .foot-logo {
  width: 250px;
  display: flex;
  margin-bottom: 37px;
}
.footer .foot-header {
  text-align: right;
  font-size: 34px;
  font-family: bold;
  color: #4A4A4A;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 35px;
}
.footer .foot-header:after {
  content: "";
  display: block;
  width: 74px;
  height: 3px;
  background: #5ABA47;
  border-radius: 3px;
  margin-top: 13px;
}
.footer .nav-foot-li {
  margin: 5px 0;
}
.footer .nav-foot-link {
  font-size: 21px;
  font-family: med;
  color: #414141;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-flex;
}
.footer .nav-foot-link:hover {
  color: #5ABA47;
  transform: translateX(-8px);
}
.footer .news-sub-header {
  font-size: 21px;
  font-family: med;
  color: #414141;
}
.footer .last-footer {
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  color: #4A4A4A;
  opacity: 0.5;
}

/*# sourceMappingURL=main.css.map */
