.main-slider {
    position: relative;

    .slide {
        position: relative;
    }

    .main-slide {
        position: relative;
        display: flex;
        align-items: center;
        color: #5eae32;
    }

    .slide-info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        .slide-header {
            font-size: 118px;
            color: #fff;
            text-transform: uppercase;

            @include xs {
                font-size: 40px;
            }
        }

        .shop-now-btn {
            padding: 0 30px;
            max-width: 175px;
            height: 56px;
            border-radius: 27px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: 2px solid $green;
            @include transition(all 0.3s ease-in-out);
            color: $green;
            font-size: 17px;
            font-family: bold;

            @include xs {
                font-size: 15px;
                padding: 0 20px;
                height: 30px;
            }

            &:hover,
            &:focus {
                color: #fff;
                background-color: $green;
                box-shadow: 0px 3px 20px #5ABA4740;
            }
        }

        .sale {
            direction: ltr;
            font-size: 65px;
            color: #fff;
            text-transform: uppercase;
            text-align: center;

            @include xs {
                font-size: 20px;
            }

            &>span {
                color: $green;
            }

            .name {
                color: #fff;
                font-size: 40px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;

                @include xs {
                    font-size: 15px;
                }
            }
        }
    }

    div[class^=swiper-button-] {
        top: 50%;
        background-image: none;
        transform: translateY(-50%);

        &.swiper-button-prev {
            left: 50px;

            @include xs {
                left: 15px;
            }
        }

        &.swiper-button-next {
            right: 40px;

            @include xs {
                right: 5px;
            }
        }



        path {
            @include transition(all 0.3s ease-in-out);
        }

        &:hover {
            path {
                fill: $green
            }
        }
    }
}

.products {
    position: relative;

    &#brands {
        .swiper-pagination {
            top: 170px;

            @include md {
                top: unset;
            }
        }
    }

    .swiper-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 230px;
        left: -60px;

        .swiper-pagination-bullet {
            margin: 2.5px 0;
            opacity: 1;
            width: 13px;
            height: 13px;
            border: 1px solid $green;
            background-color: transparent;
            @include transition(all 0.3s ease-in-out);
            outline: none !important;

            &:hover {
                background-color: $green;
            }

            &.swiper-pagination-bullet-active {
                background-color: $green;
            }
        }

        @include md {
            top: unset;
            left: unset;
            position: relative;
            flex-direction: row;
            margin-top: 25px;

            .swiper-pagination-bullet {
                margin: 0 2.5px;
            }
        }
    }

    div[class^=swiper-button-] {
        background-image: none;

        @include md {
            display: none;
        }

        &.swiper-button-prev {
            left: -60px;
        }

        &.swiper-button-next {
            right: -60px;
        }

        path {
            fill: $green;
            stroke: $green;
            @include transition(all 0.3s ease-in-out);
        }

        &:hover {
            path {
                fill: $text;
                stroke: $text;
            }
        }
    }
}


.pro-cont {
    margin-top: 100px;

    @include xs {
        margin-top: 75px;
    }
}

.Product-pre {
    padding-top: 65px;

    @include xs {
        padding-top: 35px;
    }
}

.products-head {
    // font-size: 34px;
    font-size: 30px;
    color: $text;
    font-family: bold;

    @include xs {
        font-size: 25px;
    }
}

.product {
    background-color: $back;
    display: flex;
    align-items: center;
    padding: 0 40px;
    position: relative;
    height: 378px;

    &:hover {

        .sale-sign,
        .old-price,
        .product-info {
            visibility: hidden;
            opacity: 0;
        }

        .tools {
            visibility: visible;
            opacity: 1;

            .product-tools {
                transform: translateY(0%);
            }
        }
    }
}

.sale-sign {
    position: absolute;
    top: -18px;
    left: 0;
    background-image: url("../../../images/Rectangle\ 401.png");
    visibility: visible;
    opacity: 1;
    @include transition(all 0.3s ease-in-out);


    .sale-value {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        // font-size: 27px;
        font-size: 25px;
        color: #fff;
        font-family: black;
    }
}

.old-price {
    display: flex;
    align-items: flex-end;
    color: $text;
    font-size: 9px;
    text-decoration: line-through;
    font-family: bold;
    opacity: 0.3;
    position: absolute;
    top: 30px;
    right: 7%;
    visibility: visible;
    @include transition(all 0.3s ease-in-out);

    .price {
        // font-size: 36px;
        font-size: 32px;
        font-family: black;
        line-height: 1;
    }
}

.product-info {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 5%;
    justify-content: space-between;
    visibility: visible;
    opacity: 1;
    @include transition(all 0.3s ease-in-out);

    .name-rate {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .product-name {
        font-size: 17px;
        font-family: bold;
    }

    .new-price {
        display: flex;
        align-items: flex-end;
        color: $green;
        font-size: 9px;
        font-family: bold;

        .price {
            // font-size: 36px;
            font-size: 32px;
            font-family: black;
            line-height: 1;
        }
    }
}

.tools {
    background-color: rgba($overlay, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 5%;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    @include transition(all 0.3s ease-in-out);

    .product-tools {
        margin: 0 5px;
        width: 47px;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 50%;
        @include transition(all 0.3s ease-in-out);
        transform: translateY(150%);

        .a {
            fill: $text;
            stroke: $text;
            stroke-width: 0;
            @include transition(all 0.3s ease-in-out);
        }

        &:hover {
            background-color: $green;

            .a {
                fill: #fff;
                stroke: #fff;
            }
        }

        &:nth-of-type(1) {
            transition-delay: 0s;
        }

        &:nth-of-type(2) {
            transition-delay: 0.05s;
        }

        &:nth-of-type(3) {
            transition-delay: 0.1s;
        }

        &:nth-of-type(4) {
            transition-delay: 0.15s;
        }
    }
}

.Product-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .product {
        width: calc(25% - 12px);
        margin-bottom: 16px;
        margin-left: 16px;

        &:nth-of-type(4n) {
            margin-left: 0;
        }

        @include md {
            width: calc(33.3333% - 10.76px);

            &:nth-of-type(4n) {
                margin-left: 16px;
            }

            &:nth-of-type(3n) {
                margin-left: 0;
            }
        }
    }
}

.banners-slider-cont {
    margin-top: 100px;

    @include xs {
        margin-top: 75px;
    }



    .container {
        width: 100%;
        padding: 0;

        @include xs {
            padding: 0 15px;
        }
    }

    .swiper-slide {
        width: 674px !important;

        @include xs {
            width: 100% !important;
        }
    }

    .banners-head {
        padding: 0 20px;
        height: 143px;
        background-color: #fff;
        font-size: 34px;
        font-family: bold;
        color: $text;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 50px 60px;

        &:after {
            top: -14px;
            left: -14px;
            right: -14px;
            bottom: -14px;
            content: "";
            border: 2px solid #fff;
            position: absolute;
        }

        @include xs {
            width: 100%;
            height: auto;
            position: relative;
            transform: none;
            top: auto;
            left: auto;
            padding: 0;
            font-size: 25px;
            text-align: center;
            margin-bottom: 35px;

            &::after {
                display: none;
            }
        }
    }

    .banner {
        width: 100%;
        overflow: hidden;
        position: relative;
        margin: 0;
        display: flex;
        // min-width: 640px;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(255, 255, 255, 0.7)));
            background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
            z-index: 1;
            cursor: pointer;
        }

        img {
            @include transition(all 0.7s ease-in-out);
        }

        &:hover {
            img {
                transform: scale(1.05);
            }

            &:after {
                -webkit-animation: shape 0.7s linear;
                animation: shape 0.7s linear;
            }
        }
    }

    .banners {
        padding-right: 290px;

        @include xs {
            padding-right: 0;
        }
    }

    .banners-slider {
        position: relative;
        width: 100%;
    }
}

.barnd {
    width: 100%;
    height: 261px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $back;
    position: relative;

    img {
        @include transition(all 0.3s ease-in-out);
    }

    &:hover {
        img {
            transform: scale(0.95);
        }
    }

    &:after {
        width: 1px;
        height: 171px;
        background-color: #fff;
        position: absolute;
        left: 0;
        content: "";
        display: block;
    }
}

.pro-withoutslider {
    .swiper-pagination {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 230px;
        left: -60px;

        .swiper-pagination-bullet {
            margin: 2.5px 0;
            opacity: 1;
            width: 13px;
            height: 13px;
            border: 1px solid $green;
            background-color: transparent;
            @include transition(all 0.3s ease-in-out);
            outline: none !important;

            &:hover {
                background-color: $green;
            }

            &.swiper-pagination-bullet-active {
                background-color: $green;
            }
        }

        @include xs {
            top: unset;
            left: unset;
            position: relative;
            flex-direction: row;
            margin-top: 25px;
            display: flex;

            .swiper-pagination-bullet {
                margin: 0 2.5px;
            }
        }
    }
}