body {
    position: relative;
    font-family: tajwal;

    &::-webkit-scrollbar {
        background-color: rgba($back, 0.5);
        width: 7px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $green;
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: $green rgba($back, 0.5);
}

.overflow {
    overflow: hidden !important;
}


.container {
    @media (min-width: 1700px) {
        width: 1640px;
    }

    @media (min-width: 1440px) {
        width: 95%;
    }

    width: 1170px;
}

.a {
    opacity: 1 !important;
}