header {
    border-top: 5px solid $green;
    padding-top: 35px;
    margin-bottom: 34px;

    @include xs {
        padding-top: 20px;
        margin-bottom: 19px;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 151px;
    display: flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    align-items: center
}

.mo-cart-ico {
    display: flex;
    position: relative;
    width: 35.13px;

    .a {
        stroke: none;
        @include transition(all 0.3s ease-in-out);
    }

    .items {
        right: -12px;
        top: -6px;
        position: absolute;
        width: 22px;
        height: 22px;
        line-height: 22px;
        background-color: $green;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #fff;
        font-size: 15px;
        font-family: bold;
    }

    &:hover {
        .a {
            fill: $green;
        }

        .items {
            animation: vibe 0.7s ease forwards;
        }
    }
}

._2nd-header-cont {
    background-color: $back;
    align-items: center;
    justify-content: space-between;
}

._2nd-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include xs {
        padding: 10px 0;
    }
}

.mo-menu-ico {
    display: flex;
    position: relative;

    .a {
        fill: $text;
        stroke: $text;
        @include transition(all 0.3s ease-in-out);
    }

    &:hover {
        .a {
            fill: $green;
            stroke: $green;
        }
    }
}

.mo-user-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-anchor {
    margin-left: 30px;

    @include xs {
        margin-left: 20px;
    }

    .a {
        fill: $text;
        stroke: $text;
        stroke-width: 0;
        @include transition(all 0.3s ease-in-out);
    }

    &:last-of-type {
        margin-left: 0;
    }

    &.mo-likes {
        .a {
            stroke: $text;
            stroke-width: 2px;
            fill: transparent;
        }
    }

    &.mo-user {
        .a {
            stroke-width: 0.5px;
        }
    }

    &:hover {
        .a {
            fill: $green;
            stroke: $green;
        }

        &.mo-likes {
            .a {
                fill: transparent;
            }
        }
    }

    &.mo-cart-ico {
        @include xs {
            margin-left: 0;
        }
    }
}

/* start Cart */
.cart-cont {
    position: relative;

    &:hover {
        .mo-cartList {
            visibility: visible;
            opacity: 1;
        }

        .mo-cart-ico {
            .a {
                fill: $green;
            }
        }
    }
}

.mo-cartList {
    background-color: #fff;
    min-width: 371px;
    position: absolute;
    z-index: 99;
    top: 50px;
    right: -50px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 22px;
    visibility: hidden;
    opacity: 0;
    @include transition(all 0.3s ease-in-out);

    @include xs {
        top: 40px;
        min-width: 350px;
        right: 0;
    }

    &:hover,
    &:focus {
        box-shadow: 0px 3px 6px #00000029;
    }

    .mo-cartprods {
        margin-bottom: 16px;

        &:nth-last-of-type(2) {
            margin: 0;
        }
    }

    .mo-popcart-img {
        padding: 20px;
        border: none;
        border-radius: 0;
        background-color: $back;
        height: 94px;
        width: 98px;
        display: flex;
        border: 1px solid $back;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            background-color: transparent;
        }
    }

    .mo-table {
        border: none;

        td {
            border: none;
        }
    }

    .mo-popcart-info {
        height: 94px;
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        justify-content: space-between;
        padding: 10px 0;
    }

    .mo-cartprodname {
        font-size: 17px;
        font-family: med;
        color: $text;
        @include transition(all 0.3s ease-in-out);

        &:hover {
            color: $green;
        }
    }

    .piece-total {
        display: flex;
        align-items: center;
    }

    .piece-count {
        font-family: med;
        opacity: 0.3;
        color: $text;
        font-size: 16px;
    }

    .piece-price {
        margin-right: 5px;
        opacity: 1;
        font-family: bold;
        display: flex;
        align-items: flex-end;
        font-size: 8px;

        .price-num {
            font-size: 21px;
            font-family: black;
            color: $text;
            line-height: 1;
            margin-left: 3px;
        }
    }

    .mo-delete-piece {
        display: inline-flex;
        background-color: transparent;
        width: 11px;

        .a {
            fill: #d40003;
            stroke-width: 0;
            @include transition(all 0.3s ease-in-out);
        }

        &:hover {
            .a {
                fill: #f00004;
                stroke-width: 0;
            }
        }
    }

    .mo-buttons {
        display: flex;
        align-items: center;
        margin-top: 29px;
    }

    .mo-popcart-btn {
        width: 50%;
        height: 47px;
        border-radius: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border: 2px solid $green;
        @include transition(all 0.3s ease-in-out);
        color: $green;
        font-size: 17px;
        font-family: bold;

        &:first-of-type {
            margin-left: 15px;
            background-color: $green;
            box-shadow: 0px 3px 20px #5ABA4740;
            color: #fff;

            &:hover,
            &:focus {
                background-color: #fff;
                box-shadow: none;
                color: $green;
            }
        }

        &:hover,
        &:focus {
            color: #fff;
            background-color: $green;
            box-shadow: 0px 3px 20px #5ABA4740;
        }
    }
}

/*end Cart */