._4-banners-cont {
    margin-top: 100px;

    @include xs {
        margin-top: 75px;
    }

    .banners-head {
        width: 255px;
        height: 255px;
        background-color: #fff;
        font-size: 34px;
        font-family: bold;
        color: $text;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 50px 60px;

        &:after {
            top: -14px;
            left: -14px;
            right: -14px;
            bottom: -14px;
            content: "";
            border: 2px solid #fff;
            border-radius: 50%;
            position: absolute;
        }

        @include xs {
            width: 100%;
            height: auto;
            position: relative;
            transform: none;
            top: auto;
            left: auto;
            padding: 0;
            font-size: 25px;
            text-align: center;
            margin-bottom: 35px;

            &::after {
                display: none;
            }
        }
    }
}

.banners {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    @include xs {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.banner {
    width: calc(50% - 8px);
    overflow: hidden;
    margin-bottom: 16px;
    margin-left: 16px;
    position: relative;
    display: flex;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(255, 255, 255, 0.7)));
        background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
        z-index: 1;
        cursor: pointer;
    }

    img {
        width: 100%;
        @include transition(all 0.7s ease-in-out);
    }

    &:nth-of-type(2n) {
        margin-left: 0;
    }

    &:hover {
        img {
            transform: scale(1.05);
        }

        &:after {
            -webkit-animation: shape 0.7s linear;
            animation: shape 0.7s linear;
        }
    }

    .banner-info {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 32px;

        @include xs {
            justify-content: center;
        }
    }

    .banner-name {
        text-transform: uppercase;
        color: #fff;
        font-size: 38px;
        font-family: bold;
        margin: 0 4.5px;

        @include xs {
            font-size: 25px;
        }
    }

    .shop-now {
        margin: 0 4.5px;
        font-size: 23px;
        font-family: bold;
        color: #fff;
        padding: 0 20px;
        height: 40px;
        border: 2px solid #FFFFFF;
        display: flex;
        align-items: center;
        background-color: transparent;
        @include transition(all 0.3s ease-in-out);

        @include xs {
            padding: 0 15px;
            height: 30px;
            font-size: 18px;
        }

        &:hover {
            border-color: $green;
        }
    }

    @include xs {
        width: 100%;
        margin-left: 0;

        &:nth-of-type(2n) {
            margin-left: 0;
        }
    }
}

._2-banners-cont {
    margin-top: 100px;

    .banners-head {
        padding: 0 40px;
        height: 140px;
        background-color: #fff;
        font-size: 34px;
        font-family: bold;
        color: $text;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &:after {
            top: -14px;
            left: -14px;
            right: -14px;
            bottom: -14px;
            content: "";
            border: 2px solid #fff;
            border-radius: 0;
            position: absolute;
        }

        @include xs {
            width: 100%;
            height: auto;
            position: relative;
            transform: none;
            top: auto;
            left: auto;
            padding: 0;
            font-size: 25px;
            text-align: center;
            margin-bottom: 35px;

            &::after {
                display: none;
            }
        }
    }

    .banner {
        .banner-info {
            padding: 0 35px 32px;
        }

        &:first-of-type {
            .banner-info {
                justify-content: flex-start;

                @include xs {
                    justify-content: center;
                }
            }
        }

        &:last-of-type {
            .banner-info {
                justify-content: flex-end;

                @include xs {
                    justify-content: center;
                }
            }
        }
    }
}

._4-banners-cont-sec {
    margin-top: 100px;

    .banners-head {
        padding: 0 40px;
        height: 140px;
        background-color: #fff;
        font-size: 34px;
        font-family: bold;
        color: $text;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
        border-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 50px 60px;

        &:after {
            top: -14px;
            left: -14px;
            right: -14px;
            bottom: -14px;
            content: "";
            border: 2px solid #fff;
            border-radius: 0;
            position: absolute;
        }

        @include xs {
            width: 100%;
            height: auto;
            position: relative;
            transform: none;
            top: auto;
            left: auto;
            padding: 0;
            font-size: 25px;
            text-align: center;
            margin-bottom: 35px;

            &::after {
                display: none;
            }
        }
    }

    ._col-half {
        width: calc(50% - 8px);
        display: flex;
        flex-direction: column;
        margin-left: 16px;

        &:last-of-type {
            margin-left: 0;
        }

        .banner-info {
            justify-content: flex-end;

            @include xs {
                justify-content: center;
            }
        }

        @include xs {
            width: 100%;
            margin-left: 0;
        }
    }

    .banner {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .col-row {
        width: 100%;
        display: flex;

        @include xs {
            flex-direction: column;
        }

        .banner {
            margin-left: 0;
            margin-bottom: 13px;

            @include xs {
                margin-bottom: 16px;
            }
        }

        &:last-of-type {
            .banner {
                width: calc(50% - 8px);
                margin-left: 16px;

                &:last-of-type {
                    margin-left: 0;
                }

                .banner-info {
                    flex-direction: column;
                    align-items: flex-end;
                    padding-left: 10px;

                    .banner-name {
                        order: 1;
                        margin: 0;
                        font-size: 33px;
                    }

                    .shop-now {
                        order: 2;
                        margin-top: 9px;
                    }
                }

                @include xs {
                    width: 100%;
                    margin-left: 0;

                    .banner-info {
                        flex-direction: row;
                        justify-content: center;
                        padding-left: 0;

                        .banner-name {
                            order: 2;
                            margin: 0;
                            font-size: 25px;
                        }

                        .shop-now {
                            order: 1;
                            margin-top: 0;
                        }
                    }
                }
            }
        }


    }
}